@font-face {
  font-family: "Noto Sans Light";
  src: url("font/NotoSansCJKkr-Light.woff");
}
@font-face {
  font-family: "Noto Sans Bold";
  src: url("font/NotoSansCJKkr-Medium.woff");
}
p {
  font-size: 30px;
}
p.light {
  font-family: "Noto Sans Light";
}
p.bold {
  font-family: "Noto Sans Bold";
}
p.google {
  font-family: "Nerko One";
}
